<h3>Course: <%= @course.name %></h3>
<div class="form">
  <h2 class="form-signin-heading">New notice</h2>
  <%= render 'form' %>
</div>

<div class="buttons">
  <%= link_to 'Back', course_path(@course), :class => 'btn btn-default' %>
</div>