<span>
	<%= listlessonstudent.name %>
</span>
<%= link_to "", course_lecture_lesson_select_lesson_path(@course, @lecture, listlessonstudent), remote: true, :class => "glyphicon glyphicon-chevron-right right"%>
