<h3>Course: <%= @course.name %></h3>
<div class="form">
	<h2 class="form-signin-heading">Editing lecture</h2>

<%= render 'form' %>

</div>

<div class="buttons">
	<%= link_to 'Back', course_lectures_path(@course), :class => 'btn btn-default left' %>
	<%= link_to 'Show', course_lecture_path(@course, @lecture), :class => 'btn btn-info right' %>
</div>