<div class="card">
	<h2 class="card-heading lg">Edit user</h2>

	<div class="form form-horizontal">
		<%= render 'form' %>
	</div>

</div>

<div class="buttons">
	<%= link_to 'Back', :back, :class => 'btn btn-default' %>
</div>

