<% if @courses.empty? %>
	<div class="card">
		<h2 class="card-heading title center"><%=t :no_search_results %></h2>
	</div>
<% else %>
	<div class="card">
		<h2 class="card-heading title center"><%=t :search_results %> <small>for <%= @searchterm %></small></h2>
	</div>
	<div class="row">
		<% @courses.each do |course| %>
			<div class="col-md-4">
				<%= render partial: "courses/course", locals: { course: course } %>
			</div>
		<% end %>
	</div>
<% end %>