<div class="card resource">
	<h2 class="card-heading lg"><%= @resource.name %></h2>

	<div class="card-body">
		<object data="<%= @resource.url %>" type="application/pdf" width="100%" height="720">
  		alt : <a href="<%= @resource.url %>">Download</a>
		</object>

		<p><%=raw @resource.content %></p>
	</div>
</div>