<div class="card resource">
	<h2 class="card-heading lg"><%= @resource.name %></h2>

	<div class="card-body">
 		<p><%=raw @resource.content %></p>

 		<div style="padding-top:30px; padding-bottom:30px;">
			Link to source: <a href="<%= @resource.url %>"><%= @resource.name %></a>
		</div>
	</div>
</div>