<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= raw @test.description %>
</p>

<%@test.attachments.each do |attachment|%>
  <%= link_to attachment.file_file_name, attachment.file.url(:original, false) %>
<%end%>
 
