<div class="row">
	<div class="col-md-6">
		<h2>My Courses</h2>

		<% @courses.each do |course| %>
			<h3><%= course.name %></h3>
			<p><%= course.desc %></p>	
			<%= link_to "Ver curso", course_path(course.id), :class => "btn btn-primary" %>
		<% end %>
	</div>
</div>