/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require users
 *= require bootstrap-datetimepicker.min
 *= require card
 *= require footer
 */

@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@import url("//fonts.googleapis.com/css?family=Raleway:400,700");

body {
  color:#666666;
  margin:80px 0 0 0;
  background-color: #EFEFEF;
}

img.desaturate { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.center { 
  text-align: center; 
}

.left {
  float:left;
  margin-right: 10px
}

.right {
  float:right;
  margin-left: 10px
}

/* Navbar */

.navbar .navbar-header .navbar-brand {
  padding:12px 10px 0 20px;
}


/* HEADER
-------------------------------------------------- */
.header-intro {
  padding:30px 0 0 0;
  font-family: 'Lobster', cursive;
  color:#ffffff;
  font-size:50px;
  text-shadow: -1px 0 #2c3e50, 0 1px #2c3e50, 1px 0 #2c3e50, 0 -1px #2c3e50;
}

/* FORMS
-------------------------------------------------- */
.card-body .sign-up {
  padding:2% 15% 2% 15%
}

.jumbo {
  margin:20px 20px 50px 20px;
}


.buttons {
  margin-bottom:50px;
  padding-bottom:50px;
}

/* SEARCH
-------------------------------------------------- */
.result {
  border-bottom: 1px #E7F3EF solid;
  padding: 0px 0 20px 0;
  margin: 0 0 20px 0;
}

/* Quizzes
-------------------------------------------------- */
.question {
  padding:10px;
}

.answers {
  padding:10px;
}

/* Current course indicator
-------------------------------------------------- */

#current-course {
  height: 100%; 
  width: 25%; 
  position: fixed; 
  text-align: center;
  top: 96%;
  left: 75%;
  z-index: 999;
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}

#current-course a { 
  display: block; 
  cursor:pointer;
  background: #2c3e50; 
  height: 40%; 
  width: 100%; 
  padding: 10px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 15px; 
  font-weight: bold; 
  text-decoration: none; 
}

#current-course a:hover { 
  background: #18bc9c; 
}

#current-course .dropup {
  border:0px;
}

#current-course .dropup .dropdown-menu {
  width:100%;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0; 
  box-shadow: 0; 
  background-clip: 0;
}

#current-course .dropup .dropdown-menu ul{
  border:0px;
}

#current-course .dropup .dropdown-menu li{
  border:0px;
}

#current-course .dropup .dropdown-menu a{
  border:0px;
}


/* Feedback
-------------------------------------------------- */

#feedback { 
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 40%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a { 
  display: block; 
  cursor:pointer;
  background: #2c3e50; 
  height: 40%; 
  width: 100%; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
}

#feedback a:hover { 
  background: #18bc9c; 
}

/* Drag and drop resources */

.drop {
  width: 100%;
  padding:10px;
  border: 3px dashed #ccc;
  padding: 10px;
  clear: left;
  text-align:center;
  color: #666666;
}


#lessons .list-group-item {
  cursor: move;
}

#lessons .list-group .list-group-item.moving {
  opacity: 0.25;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.main-color {
  color: #18bc9c;
}

.label-card {
  float: right;
  position:absolute;
  margin:10px 10px 10px 0;
}