/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require users
 *= require bootstrap-datetimepicker.min
 *= require card
 *= require footer
 */

@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@import url("//fonts.googleapis.com/css?family=Raleway:400,700");

body {
  color:#666666;
  margin:80px 0 0 0;
  background-color: #EFEFEF;
}

img.desaturate { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.alert {
  text-align: center;
  background-color: #eeeeee;
  border-color:#eeeeee;  
  color:#73726D;
}

.center { 
  text-align: center; 
}

.left {
  float:left;
  margin-right: 10px
}

.right {
  float:right;
  margin-left: 10px
}

/* Navbar */

.navbar .navbar-header .navbar-brand {
  padding:12px 10px 0 20px;
}


/* HEADER
-------------------------------------------------- */
.header-intro {
  padding:30px 0 0 0;
  font-family: 'Lobster', cursive;
  color:#ffffff;
  font-size:50px;
  text-shadow: -1px 0 #2c3e50, 0 1px #2c3e50, 1px 0 #2c3e50, 0 -1px #2c3e50;
}

/* FORMS
-------------------------------------------------- */
.form {
  padding:20px 150px 50px 150px;
}

.jumbo {
  margin:20px 20px 50px 20px;
}


.buttons {
  margin-bottom:50px;
  padding-bottom:50px;
}

/* SEARCH
-------------------------------------------------- */
.result {
  border-bottom: 1px #E7F3EF solid;
  padding: 0px 0 20px 0;
  margin: 0 0 20px 0;
}

/* Quizzes
-------------------------------------------------- */
.question {
  padding:10px;
}

.answers {
  padding:10px;
}

/* Drag and drop resources */

.drop {
  width: 100%;
  padding:10px;
  border: 3px dashed #ccc;
  padding: 10px;
  clear: left;
  text-align:center;
  color: #666666;
}


#lessons .list-group-item {
  cursor: move;
}

#lessons .list-group .list-group-item.moving {
  opacity: 0.25;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.main-color {
  color: #18bc9c;
}

.label-card {
  float: right;
  position:absolute;
  margin:10px 10px 10px 0;
}